<ion-content fullscree="true" class="ion-background-color">
  <!-- header -->
  <ion-header>
    <ion-toolbar>
      <ion-title color="white">Category</ion-title>
    </ion-toolbar>
  </ion-header>

<!-- SEARCHBAR -->
<div>
  <app-searchbar></app-searchbar>
</div>

<!-- BODY -->
<div class="title"> 
  <h3>Category Gamer</h3>
</div>


<!-- CARDS -->
<div>
  <ion-grid >
    <ion-row>
      <ion-col>
        <app-card></app-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>


</ion-content>

