ion-button{
 
    text-align: center;
    color: white;
    padding-left: 75%;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke-width: 1px ;
    -webkit-text-stroke-color: black;
    text-shadow: 1px 1px 4px black;
}

.title{
    margin: 15px;
    text-shadow: 2px 2px 4px black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px black;
    -webkit-text-stroke-color:  white;
    -webkit-text-stroke-width: 0.5px;
    color: black;
    padding-right: left;
}

.float{
    float: left;
    margin-top: -48px;
}

